body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('../images/background.jpeg');
  background-size: cover;
}

a {
  color: #00B7FF;
}

.container{
  float: left;
  text-align: center;
}

.randomPic{
  margin-bottom: 20px;
}

img{
  margin-right: 30px;
  width: 300px;
  height: 300px;
  border-radius: 5%;
}

.generatedImg{
  -webkit-box-shadow: 3px 7px 45px 5px rgba(4,61,8,1);
  -moz-box-shadow: 3px 7px 45px 5px rgba(4,61,8,1);
  box-shadow: 3px 7px 45px 5px rgba(4,61,8,1);
}

.appendedInfo{
  width: 95%;
  margin: 0 auto;
}

.newImg, .randomPic {
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
  background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
  background-color:#ffc477;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  font-family:Comic Sans MS;
  font-size:20px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width: auto;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #cc9f52;
}
.newImg:hover, .randomPic{
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
  background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
  background-color:#fb9e25;
}.newImg, .randomPic :active {
   position:relative;
   top:1px;
 }

 button{
   cursor: pointer;
 }