body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container{
  float: left;
  text-align: center;
}

.randomPic{
  margin-bottom: 20px;
}

img{
  padding-right: 30px;
  width: 300px;
  height: 300px;
}

.appendedInfo{
  width: 95%;
  margin: 0 auto;
}